body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:898px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:100px;
  width:198px;
  height:29px;
  text-align:left;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u1560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:139px;
  width:293px;
  height:69px;
  color:#CCCCCC;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:328px;
  width:225px;
  height:24px;
  text-align:left;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:277px;
  width:123px;
  height:24px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u1569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:78px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:277px;
  width:55px;
  height:77px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:51px;
  word-wrap:break-word;
}
#u1571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:303px;
  width:225px;
  height:24px;
  text-align:left;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:221px;
  word-wrap:break-word;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:377px;
  width:221px;
  height:44px;
  color:#999999;
  text-align:left;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u1576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:391px;
  width:20px;
  height:18px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:390px;
  width:11px;
  height:19px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:377px;
  width:337px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:393px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:431px;
  width:221px;
  height:44px;
  color:#999999;
  text-align:left;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u1586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:441px;
  width:22px;
  height:25px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:431px;
  width:337px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:444px;
  width:11px;
  height:19px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:446px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:483px;
  width:224px;
  height:44px;
  color:#999999;
  text-align:left;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:491px;
  width:21px;
  height:25px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:496px;
  width:11px;
  height:19px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:485px;
  width:337px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:540px;
  width:194px;
  height:34px;
  color:#999999;
  text-align:left;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:553px;
  width:10px;
  height:10px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:549px;
  width:24px;
  height:17px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:549px;
  width:179px;
  height:15px;
  color:#999999;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:534px;
  width:337px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:553px;
  width:6px;
  height:6px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:551px;
  width:13px;
  height:9px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:546px;
  width:27px;
  height:23px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:549px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:498px;
  width:39px;
  height:15px;
  font-size:13px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:228px;
  width:270px;
  height:179px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:243px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:38px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:306px;
  width:243px;
  height:38px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:361px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:361px;
  width:270px;
  height:1px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:361px;
  width:1px;
  height:46px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:114px;
  width:200px;
  height:1px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:415px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:100px;
  width:316px;
  height:415px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
